@import 'variables';

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-family: Fanwood Text, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-smooth: always;
  font-style: normal;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.main {
  display: flex;
  justify-content: center;
}

.day {
  animation: IndexBackgroundAnimation 25s ease infinite;
  background-image: radial-gradient(#f9efef 0,#f6a18c 40%,#fae64a 60%,#ff5252 80%);
  background-size: 400% 400%;
}

.night {
  animation: IndexBackgroundAnimation 25s ease infinite;
  background-image: radial-gradient(#f9efef 0,#766aff 40%,#3a10f6 60%,#3100c6 80%);
  background-size: 400% 400%;
}

@keyframes IndexBackgroundAnimation {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  to {
    background-position: 0 50%
  }
}

.fanwood-text-regular {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: normal;
}

.fanwood-text-regular-italic {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  width: 100%;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1;
}

