.weather {
  align-items: center;
  border: 0.2rem solid var(--color-black);
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  margin-top: 5rem;
  padding: 2rem;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .weather {
    justify-content: flex-start;
  }
}

.weather__time-now {
  margin-top: 2rem;
}
