.weather {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  margin: 2rem;
}

.weather__title {
  text-decoration: underline;
}

.weather__temperature {
  font-size: 1.8rem;
}
